 <!--Overall Grid-->
    <div class="container">
        <!--Sign In/Registration Form-->
        <form class="form-signin-register">
            <i class="fas fa-address-card"></i>
            <!--Sign In-->
            <div id="error"  class="alert alert-danger" role="alert" style="display: none;">User not found, please try again!</div>
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
            <label for="existingUserEmail" class="sr-only">Email Address</label>
            <input type="email" id="existingUserEmail" class="form-control" placeholder="Email Address">
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="loginButton">Sign in</button>
            <!--Register-->
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            <label for="newUserEmail" class="sr-only">Email Address</label>
            <input type="email" id="newUserEmail" class="form-control" placeholder="Email Address">
            <button class="btn btn-lg btn-danger btn-block" type="submit" id="registerButton">Register</button>
        </form>
    </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/login.js"></script>