<div class="container">
    <header class="my-4">
        <div class="container">
            <nav class="navbar navbar-dark bg-dark text-danger rounded">
                <a class="navbar-brand">
                    <img src="/img/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="Discover Canada">
                    Discover Canada
                </a>
                <ul class="list-inline">
                    <li class="nav-item list-inline-item">
                        <a id="top" class="nav-link text-danger" href="/index">Home</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link text-danger" href="login.handlebars">Sing Out</a>
                    </li>
                    {{!-- <li class="nav-item list-inline-item">
                        <a class="nav-link text-danger" href=".user-info">Save Changes</a>
                    </li> --}}
                </ul>
            </nav>
        </div>
    </header>

    <div id="profileBG" class="row rounded">
        <div class="col-lg-2 col-sm-1"></div>
        <div class="col-lg-8  col-sm-10 col-xs-12"></div>
        <div class="travel-list">
            <div class="user-info">
                <h2 class="my-list">
                    <bold>Your Destination list</bold>
                </h2><br>
                <h3 class="my-list">Here goes the name of the user</h3><br><br>
            </div><br><br>


            <!--Name of User-->

            <!--List of travel destinations. QUESTION! Specific choises will be added to specific cities ?-->
            <div class="scroll col-lg-12  col-sm-10 col-xs-10">
                <div class="user-selection">
                    <dl class="row">
                        <dt class="col-sm-3">Activity</dt>
                        <dd class="col-sm-9">Recommendation</dd>
                    </dl>
                    <div class="checked">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Done</label>
                    </div><br>

                </div>

            </div>

        </div>
    </div>

    <div class="col-lg-2 col-sm-1"></div>

</div>

<div class="push"></div>
<footer class="page-footer font-small pt-4 footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center bg-dark text-danger m-0 p-4">CopyRight©</div>
    <!-- Copyright -->
</footer>