.list-group-item {
  line-height: 2.5;
}

body {
  font-family: 'Luckiest Guy', cursive;
}

.footer , .push{
  height: 30px;
}
  

body {
  background: url("/img/2.png") #F63737 no-repeat top center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h2 {
  color: white;
}

h3 {
  color: white;
}
.travel-list {

  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 100px;
  position: relative;
  width: 800px;
  padding: 60px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 100px;
  border: 2px solid white;
  background: rgba (0,0,1,0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.travel-list {
  margin-top: 120px;
}

.list-item {
  border: 1px solid white;
}


button {
  background-color: transparent;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll {
  overflow: auto;
}
li:hover {
  color: #97999C;
  background-color: #FBB031;
  border: #97999C;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  
  background-color: #DB3545;
}

li {
  background-color: transparent;
  border: 2px solid white;
}



button:hover {
  color: white;
  background-color: #DB3545;
}
#home-button {
  border: 2px solid #97999C;
  float: right;
}



#cathegories {
  float: right;
  border: 2px solid #97999C;
}
.checked {
  float: right;
}

.buttons {
  position: sticky;

}

.user-selection {
  border: 1px solid white;
}

dt {
  color: white;
}

dd {
  color: white;
}

label {
  color: white;
}

#save-changes {
  float: right;
  border: 2px solid #97999C;
}
